@tailwind base;
@tailwind components;
@tailwind utilities;

/* Use the CSS variables exposed by next/font in layout.tsx */
:root {
  --font-geist-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  --font-geist-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono",
    "Helvetica Neue", monospace;
}

html, body, #__next {
  height: 100%;
}

body {
  font-family: var(--font-geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}